* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.appointment-card {
    width: 30vh; 
    height: 20vh; 
    padding: 2vh;
    margin: 2vh;
    border-radius: 12px;
    
    /* 이미지의 배경색 그라데이션 */
    background: linear-gradient(135deg, #4c77f2, #294eb8); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 

    cursor: pointer;
}

/* 마우스 올림 */
.appointment-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
                0 10px 10px rgba(0, 0, 0, 0.22);
    
    transform: scale(1.05); 
    filter: brightness(110%) saturate(100%);
}

/* 마우스 클릭 */
.appointment-card:active {
    transform: scale(0.98); 
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
    filter: brightness(90%) saturate(100%);
}

.card-header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.calendar-icon {
    font-size: 40px;
    font-weight: 300; 
    color: rgba(255, 255, 255, 0.9); 
}

.appointment-tag {
    background-color: white;
    color: #4c77f2; 
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap; 
}

.card-body {
    /* 공간이 남으면 아래로 밀어내기 */
    margin-top: auto; 
}

.number {
    font-size: 64px;
    font-weight: 500; 
    line-height: 1; 
    margin-bottom: 5px;
}

.description {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

article {
    background-color: lightgray;
    width: 100%;
}

.dashBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* 대시보드 1 ~ 4 */
.dashBoard_Box {
    width: 25vh;
    height: 20vh;
    margin: 1.5vh;

    border: 1px solid black;
    border-radius: 10px;
}

.dashBoard02 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    
    margin-right: 3vh;
}
