* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-layout {
    display: flex;
    height: 85vh;
}

/* =================== Main =================== */
.header__logo .logo-icon {
    color: #f44336; /* 아이콘 색상 설정 (예: 빨간색) */
}

.header__logo {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 8px; /* 아이콘과 텍스트 사이 간격 */
    font-size: 1.8rem; /* 로고 글자 크기 설정 */
    color: #3f51b5; /* 로고 색상 설정 (예: 진한 파란색) */
}

.main {
    border-radius: 1%;
    padding: 1vh;
}

header {
    border: 1px dotted black;
    height: 12vh;
    display: flex;
    direction: row;
}

aside {
    border: 1px dotted black;
    width: 15%;
}

.header_1, .header_3 {
    width: 15%;
    padding: 1vh;
}

.header_2 {
    width: 70%;
    padding: 1vh;
}

.MedicalInfoMenu {
    flex: 1;
}