* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =================== Main =================== */
.main {
    border-radius: 1%;
    padding: 1vh;
}

/* MainBody */
.mainBody {
    display: flex;
    flex-direction: row;
}






