* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 그래프 박스 구조 */
.dashBoard_Box02 {
    height: 50vh;
    margin: 1.5vh;
    padding: 20px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    box-shadow: 
        /* Wide Shadow: 넓고 희미하게 퍼지는 그림자 */
        0 4px 6px rgba(0, 0, 0, 0.1), 
        /* Tight Shadow: 요소 밑에 깔리는 얇고 진한 그림자 */
        0 1px 3px rgba(0, 0, 0, 0.08);
}

.bp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bp-name {
    font-size: 1.6em;
    font-weight: 700;
}

/* 그래프 버튼 */
.bp-detail-button {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: 600;
    display: inline-block;

    transition: background-color 0.2s, transform 0.1s; /* 부드러운 전환 효과 (선택 사항) */
}


/* 마우스를 올리면 더 진한 파란색으로 변경 */
.bp-detail-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* 클릭(Active) 효과 추가 */
.bp-detail-button:active {
    transform: scale(0.98);
    /* 클릭 시 살짝 작아지는 효과 */
}


/* 그래프 박스 */
.bp-graph-container {
    flex-grow: 1; 
    width: 100%; 
    
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);

    height: 50px;
    display: flex;
    align-items: center;
}

.bp-metric-item {
    width: 100%; 
    background-color: #ffffff;
    border: 1px solid #e0e7ff; 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column; 
    gap: 10px;

    /* margin-top: 30px; */
    margin-bottom: 1.5vh;
}

.bp-graph-bar {
    height: 20px;
    background-color: #28a745;
    border-radius: 10px;

    transition: width 1s ease-out;
}

/* 그래프 상태 */
.bp-reading {
    font-size: 1.3em;
    font-weight: bold;
    color: #444;
    text-align: left;
}

.bp-status {
    font-size: 0.9em;
    color: green;
    margin-top: 5px;
}

.bp-status01 {
    font-size: 0.9em;
    color: darkorange;
    margin-top: 5px;
}

.bp-data {
    min-width: 140px;
    width: 100%;
}

/* 수치와 그래프를 수평으로 배치하는 본문 영역 */
.bp-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}





