* {
    box-sizing: border-box;
    margin: 0;
    padding: 0p;
}

.rightDashBoard {

    padding: 1vh;
    margin-bottom: 4vh;
    border-radius: 1vh;

    width: 100%;
    height: 20vh;

    overflow: hidden;
    
    background-color: lightskyblue;
}